body {
	font-size: medium;
}

h1 {
	font-size: 300%;
	font-weight: bold;
}

h2 {
	font-size: 175%;
}

#wrapper {
	width: 925px;
	margin: 30px auto 0 auto;
}

#main {
	float: left;
	clear: both;
	width: 100%;
}

#content {
	float: right;
	width: 70%;
	border-left: solid #DBD9D4 1px;
	padding-left: 5%;
	/* for testing */
	height: 1000px;
}

#sidebar {
	float: left;
	width: 20%;
	margin-right: 5%;
	/* for testing */
	height: 1000px;
}

header {
}

